[submodule "templates"]
	path = templates
	url = https://github.com/sjdv1982/nucleotide-fragment-templates.git
[submodule "nucleotide-fragments"]
	path = nucleotide-fragments
	url = https://gitlab.inria.fr/sdevries/nucleotide-fragments
